:root {
    --main-bg-color: #5DA399;
    --main-text-color: #35393C;
    --link-color: #5776B2;
    --link-hover-color: #1d386a;
}

header{
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #35393C;
}
nav ul li{
    float:left;
}
a {
    color: var(--link-color);
    text-decoration: none;
}


li a{
    display: block;
    text-align: right;
    background-color: #35393C;
    text-decoration: none;
    padding: 14px 16px;
}
body{
    color: #35393C;
    background-color: #5DA399;
    font-family: 'Helvetica', sans-serif;
}
a{
    font-family: 'Helvetica', sans-serif;
}
a:hover{
    background-color:grey;
}
a:visited{
    color: white;
}
main h2, main p{
    text-align: center;
}

footer {
    margin: 0 auto;
    padding: 1em 0 1em 0;
    text-align: center;
    width: 100%;
}

#design-tag{
    bottom: 0;
    padding-left: 0px;
    position: relative;
}
main div, footer div{
    padding-bottom: 50px;
}

img{
width: 50%;
height: 20%;
padding-left: 250px;
}

#complexTable {
    width: 100%;
    border-collapse: collapse;
  }
  #complexTable th, #complexTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  #complexTable th {
    background-color: #f2f2f2;
  }
  #complexTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #simpleTable, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  
  form {
    align-items: center;
    border: 2px solid var(--main-text-color);
    border-color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    padding: 1em 1.2em .4em 1.2em;
    width: 40%;
}

fieldset {
    border: none;
    margin: 5px auto 5px auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}


button {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    cursor: pointer;
    margin: 10px 0 10px 0;
    padding: 7px 14px;
}



label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"]{
    padding: 0%;
    display: inline;
}